<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">  
        <title>[[${contacto.id ne null ? 'Editar contacto' : 'Registro de contacto'}]]</title>
</head>

<body>

    <div class="row justify-content-center">

        <div class="col-md6 col-lg-4">


            <h3>[[${contacto.id ne null ? 'Editar contacto' : 'Registro de contacto'}]]</h3>
            <br/>
            <form action="" method="post" th:object="${contacto}">
                <div class="mb-3">
                    <label for="nombre">Nombre: </label>
                    <input id="nombre" type="text" placeholder="Digite su nombre " th:field="*{nombre}" class="form-control" th:errorClass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="invalid-feedback"></div>
                </div>
                <div>
                    <label for="email">Email: </label>
                    <input id="email" type="text" placeholder="Digite su email " th:field="*{email}" class="form-control" th:errorClass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="celular">Celular: </label>
                    <input id="celular" type="text" placeholder="Digite su celular " th:field="*{celular}"  class="form-control" th:errorClass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="fechaNacimiento">Fecha de nacimiento: </label>
                    <input id="fechaNacimiento" type="date" th:field="*{fechaNacimiento}" class="form-control" th:errorClass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="invalid-feedback"></div>
                </div>

                <div class="text-end" >
                    <button class="btn btn-success"><i class="fas fa-save"></i>&nbsp;Guardar</button><a href="/" class="btn btn-light ms-2"><i class="fas fa-backward"></i>&nbsp;Cancelar</a>
                </div>
                


            </form>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>